.expression-display {
  input {
    padding: 25px 15px;
    color: #333333;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #333333;
    border-width: 0 1px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: right;
  }
}
