.command-panel {
  display: flex;
  flex-wrap: wrap;

  &__button {
    flex-basis: 50%;
    border-width: 0;
    text-transform: uppercase;
    line-height: 2;
    background-color: #333333;
    color: white;
    transition: background-color 300ms;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: inherit;

    &:hover {
      background-color: #444444;
    }

    &:active {
      background-color: #555555;
    }
    
    &:last-child {
      background-color: #006666;
      border-right: 1px solid #008888;

      &:hover {
        background-color: #007777;
      }

      &:active {
        background-color: #008888;
      }
    }

    &--condensed {
      flex-basis: 25%;
      border: none;
      text-transform: lowercase;
    }
  }
}
