.history-display {
  textarea {
    padding: 15px 15px 0;
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    display: block;
    text-align: right;
    color: #999999;
    border: 1px solid #333333;
    border-width: 1px 1px 0;
  }
}
